.team-social-links {
  @include centeredFlex;
  padding-bottom: 24px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  @include centeredFlex;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  @include transitionSite;

  &:hover,
  &:focus {
    background-color: $accent-color;
    .social {
      fill: $page-color;
    }
  }
}

.social {
  fill: $social-color;

  @include transitionSite;
}
