$accent-color: #2196f3;
$page-primary-color: #212121;
$pege-secondary-color: #757575;
$page-color: #ffffff;
$section-secondary-color: #f5f4fa;
$footer-background-color: #2f303a;
$footer-social-background-color: rgba(255, 255, 255, 0.1);
$footer-text-primary-color: #ffffff;
$footer-text-secondary-color: rgba(255, 255, 255, 0.6);
$gradient-primary-color: rgba(47, 48, 58, 0.8);
$logo-color-one: #2196f3;
$logo-color-two: #000000;
$logo-color-three: #ffffff;
$social-color: #afb1b8;
$btn-color: #188ce8;
$border-footer-color: #ececec;
$border-color: #eeeeee;
$border-form-input-color: rgba(33, 33, 33, 0.2);
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$text-examples-color: rgba(33, 150, 243, 0.9);

$box-shadow-card: 0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

$box-shadow-btn: 0px 2px 2px rgba(0, 0, 0, 0.12),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);

$box-shadow-btn-form: 0px 4px 4px rgba(0, 0, 0, 0.15);

$box-shadow-modal-form: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$btn-close-border-color: rgba(0, 0, 0, 0.1);
